<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sky Diary Prints</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        .inputs{
            margin-left: 50px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <div class="card mb-3">
        <!--<img class="card-img-top" src="localhost:8000/prints/?inquiry_id=117" alt="Card image cap">-->
        <div class="card-body">
            <h5 class="card-title">Purchase The Sky Diary for {{ inquiry_date }}</h5>
            <p class="card-text">Sky Diary Prints are just $85 and come framed in a giftbox</p>
            <p class="card-text"><small class="text-muted">Please fill out your contact information so we can confirm your request and text you when your print is ready:</small></p>
        </div>
    </div>

    <form method="POST"  class= "PostCustomerForm"> {% csrf_token %}
        {{ form.as_p }}
        <!--<div class="inputs">-->
            <!--<input type="text" name="first-name" placeholder="first name" autofocus="autofocus" required>-->
            <!--<input type="text" name="last-name" placeholder="last name" required>-->
            <!--<input type="tel" name="telephone" placeholder="cell phone" required>-->
            <!--&lt;!&ndash;<input type="text" name="email" placeholder="email" required>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="inputs">-->
            <!--<textarea type="textarea" name= "notes" placeholder="notes:"></textarea>-->
        <!--</div>-->
        <!--<div class="inputs">-->
            <button class="btn btn-lg btn-info" type="submit">Reserve Your Print</button>
        </div>
    </form>
</body>
</html>