
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Thank You</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>

      .jumbotron{
      background: rgb(37, 65, 112);
      /*background: rgba(37, 65, 112, 0.5);*/
      color: whitesmoke;
      }
      </style>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <!--<nav>-->
          <!--<ul class="nav nav-pills pull-right">-->
            <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
            <!--<li role="presentation"><a href="#">About</a></li>-->
            <!--<li role="presentation"><a href="#">Contact</a></li>-->
          <!--</ul>-->
        <!--</nav>-->
        <h3 class="text-muted" >The Sky Diary</h3>
      </div>

      <div class="jumbotron">
        <h1>Your Sky Diary Proof will be emailed as soon as it is ready.</h1>
        <p class="lead">To support our effort cataloging The Sky Diary collection, we hope you will consider purchasing a print.  Prints come framed and in a giftbox, making them the perfect gift to commemorate that special day. To see examples of prints and hear The Sky Diary story, follow the link below to our Instagram page. </p>
        <p><a class="btn btn-lg btn-info" href="https://www.instagram.com/the.sky.diary/" role="button">Learn More</a></p>
      </div>

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/nHg6tHgLhCAdUB67YiD2mFtrZ55xm69MGARaozhLKpz-2ajaaA3sN53Pir8mNiPsjrCNlFbbhZA-3e49ZP2AyfEcgiCxnJU3MLioYbpfUzdMO-fNcBhoZX9cFsPMh9Mu1YxdhQeO8FcdL2PLEavi8SmUmoN8aGQTkBiLhyOUdtXni_hLCXrikFSJQls-BGEZoMwvNcCRuZ1MjIhyhy7CoZhXBwmEB2PoEcwa1VwlaH_S7NeWrMMO6RT9poD1HMlfHXA9ubfYV4V-n4h_3Q431RRRMphBlntuwD2t0Dy8-BL1VIQ1fo2Ep86z81SahFZMwTFnTpKM4M7PkU5OZXfXP_H00tv5xJ-TxG0C8SQPh0V_NTkBsPnfEwEv8jQ4q69WgiK86nH5eJQ5XWRCQrBPswKqFyQw1dVTU1gKzELSRmSc1pypx6cwcVyTp6wPdLP91crAUu4Twcp-jPwA5vhhVl1Hmyv6SvFqBraUAPbf2JOjSpGLy5Ji2ATqVdiS5vCOz7uml0bDqvQwIrYek4r2LHlt3EAe9vnI1glZGRzf0S6SfN6whrXJNyierkm78PIcJWU4c_ZpR1o1ArExXwGT9Bcr4QlJrtQfp7r14_U=w1268-h1502-no" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/GQdcGnnS1uHSVIMCeJpqgEXna5otavlDJ05gOmXvSlIxxCawbPgrRx-BPTNpEjb7_wFJLBfEWxYJTfU_JBJoo21HtoKhb5Aj8PgbZkHXQ89dSOG59JsUflJBznhSQMaI2k0bz6HU25KkBHZatU05whQONT53f37Q1TIHgQ1kC4gEktSk_tL9vGODfa-hE2uO7xsX62bP4MthIXry3X6UYpd45Pdf14Q9IgSFz7jGDdRwtuM8-xOP1k36UCX_h065fKfyCFnIkhUbWHPLI4uohKrF-2tCet61yOwEoWBPl0THqg4GBFouCllxowrbvmG0pZJhr95N-PqAJxTCg8wlrzfsmSIttzQML5c5HcpPugKTUMiJljlOYAovj6_9TWrc6KfuGuVb_xsVQKP6zWi4QZGZ63_TPVuoCpxc2Nkm-4ZjKxieBW4hp2Zouoi3ZoAtjpxvEygGQ9P9uv-WCZFH3lo4pehP7w50nqZ93OtCJdNZT92L3tN8TP60WI29wdOIZYuBSi8s7taSZkGPh1hRXitSIN9dyx9mpm5j3oP5_lLG0ZKcNnDVcpRNHW0HIw9ZVioX6v1bg2z96wPeNGIMEvYj2JHdWyWpxtk4YjY=w1202-h1480-no" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/A8VZbGGUsqRod4Ik9CKm5ZllEVZUcXlDRnr9cE8L9_Ull1Rn-rV4_OyeLjvTcPmJARSFfJ1kVSix_UjFyio_oQULa1ZS7L5rbPj4HRXRXIloGk9ij-s1jKGuemZy9Dwu40sfVYtsuMUVhM0cnboTRE6B_Y1s90ILT_xBvPcrqv0OoYXYDWW2T6ry0m1ZAORSyrYMVtcK2U96ycnmplXblIZEONhQHzbsxTmI2iSKD0ibrIssAwMr32YafTmZxkFbIp4dZWlFneBLbsWnilXeI9tUMR-RwElN5S_3Zm_ZSEJ8g4Dk9t60uWZdPV5h9qRpaBDxVpBGIXdQXWJSH59oFN3ylL8ENJYCla30J40Gw3NDUVMDqq4iYz-i9_sFcrf_xTo-Fv67XrYAdMyKfUk8i47kKyRbTVsqtnhpCbLAim3BB3G0kaWuDHsjQDPJ-Vy_qBtCHkAYIxcmcueGTmWy2EhcCC_NxTY61UbkVGQ-_WyRCUXlRN3923obtrcWr54H5D6HzxPUY2kj7ih3gMc9YN79zMnfG-7JzbwZLfbgWWr-GgyMHZHP2FBWCufReY8HCoQU8GTZ3blDIuI4ExcAVmLFv4BFhMYF80fF2qQ=w1138-h1506-no" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

      <footer class="footer">
        <a href="https://www.theskydiary.com">home</a>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
