
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Thank You</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>

      .jumbotron{
      background: rgb(135, 156, 186);
      background: rgba(135, 156, 186, 0.5);
      }
      </style>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <!--<nav>-->
          <!--<ul class="nav nav-pills pull-right">-->
            <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
            <!--<li role="presentation"><a href="#">About</a></li>-->
            <!--<li role="presentation"><a href="#">Contact</a></li>-->
          <!--</ul>-->
        <!--</nav>-->
        <h3 class="text-muted" >The Sky Diary</h3>
      </div>

      <div class="jumbotron">
        <h1>Your Sky Diary Proof will be emailed as soon as it is ready.</h1>
        <p class="lead">To support our effort cataloging The Sky Diary collection, we hope you will consider purchasing a print.  Prints come framed and in a giftbox, making them the perfect gift to commemorate that special day. To see examples of prints and hear The Sky Diary story, follow the link below to our Instagram page. </p>
        <p><a class="btn btn-lg btn-info" href="https://www.instagram.com/the.sky.diary/" role="button">Learn More</a></p>
      </div>

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/nHg6tHgLhCAdUB67YiD2mFtrZ55xm69MGARaozhLKpz-2ajaaA3sN53Pir8mNiPsjrCNlFbbhZA-3e49ZP2AyfEcgiCxnJU3MLioYbpfUzdMO-fNcBhoZX9cFsPMh9Mu1YxdhQeO8FcdL2PLEavi8SmUmoN8aGQTkBiLhyOUdtXni_hLCXrikFSJQls-BGEZoMwvNcCRuZ1MjIhyhy7CoZhXBwmEB2PoEcwa1VwlaH_S7NeWrMMO6RT9poD1HMlfHXA9ubfYV4V-n4h_3Q431RRRMphBlntuwD2t0Dy8-BL1VIQ1fo2Ep86z81SahFZMwTFnTpKM4M7PkU5OZXfXP_H00tv5xJ-TxG0C8SQPh0V_NTkBsPnfEwEv8jQ4q69WgiK86nH5eJQ5XWRCQrBPswKqFyQw1dVTU1gKzELSRmSc1pypx6cwcVyTp6wPdLP91crAUu4Twcp-jPwA5vhhVl1Hmyv6SvFqBraUAPbf2JOjSpGLy5Ji2ATqVdiS5vCOz7uml0bDqvQwIrYek4r2LHlt3EAe9vnI1glZGRzf0S6SfN6whrXJNyierkm78PIcJWU4c_ZpR1o1ArExXwGT9Bcr4QlJrtQfp7r14_U=w1268-h1502-no" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/tchgEFO08VWq3YlTO0hmX-8DSdZXyStwhDKIC5zu57M2wMQavWTjw4dXs4wHSN7vwOX5NbMW6PLR4WQ5vrm3ssIO_1D33BNEAyYpTZRE-YrGfNi2762kg7uCKphxKZ1JGrqbtIH5PIgFNVLMRHs_MQ7t-MpI3hQJrtlQR51Ft0h7HbE8ElzKxTmZq9DYyvtkj8-qJ9uV4-iv_9Ta4ABpf-edhqW_dzO-vIpZhLmyVJWZ-E4YyiUyh9HU1rPzAXhUGS5B_GtdssMuV06Z0yApL_MdfRtTA2s32I010TgFjshOMbaBdinKx8ztSUNkrSGzPUKR5JlYSfvts9ZK_qwJEqg4sUcR8B01qNAijpxerIquuoPdrSESvn9jRVPCzc1CjLfjvCI8Of9-5XC_iCOE1AE9FECYIDjdsNFiwvAksHvZkF8Ha06sC-pzAQCZ9vLV0hkUC9xFb30_m8PSQgHJW-9yW9rnGP7q57oXkXjciazNVGjgsdxNciB193MPG76OhoyS_CCqgXo1o4Z5OzHw23VQQODUVUM2HCfdwwS_G7To4fF8qzY3o6EOF4XJN_7IA7MncbTp_2qJW7g9UN9b_sxcCymBZIjX3TppldM=w1163-h1434-no" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

      <footer class="footer">
        <p>&copy; 2018 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
